body {
    background-color: black;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
}

ul {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

p {
    font-weight: bold;
    color: white;
    text-align: center;
}

a:hover {
    color: rgb(92, 210, 249)
}

a {
    color: aquamarine;
}