#title-container {
    max-width: 100%;
    font-weight: bold;
    color: rgb(64, 57, 57);
    font-size: 25px;
    text-align: center;
    border: 3px solid;
    border-radius: 10px;
    padding: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: rgb(124, 4, 4);
}

#box-model-list-container {
    border: 3px solid;
    border-color: rgb(0, 0, 173);
    border-radius: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}

p {
    padding-left: 10px;
    font-weight: bold;
    font-size: 30px;
}

#name-list {
    font-size: 22px;
    color:rgb(91, 5, 172);
}

#box-model-prop-container {
    border: 3px solid;
    border-color: rgb(4, 107, 4);
    border-radius: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}

#prop-list {
    font-size: 22px;
    color:rgb(98, 105, 6);
}